*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    height:100vh;
    width:100vw;
    overflow:hidden;
}

.page{
    height:100vh;
    width:100vw;
    padding:2rem;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    place-items:center;
    position:fixed;
    top:0;
    left:100vw;
    transition: .5s ease-in-out;
    transition-delay: .5s;
}

.show{
    left:0;
    transition: .5s ease-in-out;
}

#splash{
    background-color:orangered;
}
#names{
    background-color:green;
}
#task{
    background-color:darkorchid;
}
#end{
    background-color:darkslategray;
}

h1, p{
    color:#eee;
}

button{
    color:white;
}

input{
    font-size:2rem;
}

#spinner{
    height:20vh;
    width:20vh;
    border-radius:50%;
}
canvas{
    display:none;
}